{% load workspaces %}
{% load utility %}
{% load history_extras %}


<div id="textual" class="lizard">
  <h2>Analyse-interpretatie: {{ view.annotation.title }}</h2>
  <table class="generic-table">
    <thead>
      <tr>
        <td>Gebruiker</td>
        <td>Registratie</td>
        <td>Samenvatting</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {% for h in view.history %}
      <tr>
        <td>{{h.user}}</td>
        <td>{{h.datetime|format_date_string}}</td>
        <td>{{h.summary}}</td>
        <td>
          <a href="javascript:void(0)" onclick="javascript:Ext.getCmp('portalWindow').linkToPopup(
            'Archiefexemplaar:{{ view.annotation.title }}({{h.datetime|format_date_string}})',
            '/annotation/archive/{{view.annotation.id}}/{{h.log_entry_id}}',
            {},
            {},
            false,
            'component',
            false,
            true
            );">Archiefexemplaar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
