{% extends "lizard_ui/lizardbase.html" %}{% load compress i18n %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_annotation/lizard_annotation.js"></script>
{% endblock %}
{% block content %}
{{ block.super }}

<div>
  <select id="reference_objects">
    {% for obj in view.reference_objects %}
    <option value="{{ obj.reference_model }}{{ obj.reference_id }}">
    {{ obj.reference_name }}
    </option>
    {% endfor %}
  </select>
</div>
<div>
  <table class="sortable-table">
    <thead>
      <tr>
        <th>Titel</th>
        <th>Categorie</th>
        <th>Status</th>
        <th>Datum</th>
        <th>Door</th>
      </tr>
    </thead>
    <tbody>
  {% for annotation in view.annotations %}
      <tr>
        <td><a href="">{{ annotation.title }}</a></td>
        <td>{{ annotation.category }}</td>
        <td>{{ annotation.status }}</td>
        <td>{{ annotation.dt_creation }}</td>
        <td>{{ annotation.user_creator }}</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
  <button type="button" OnClick=".">Annuleer</button>
  <button type="button" OnClick=".">Nieuw</button>
</div>
{% endblock content %}
